# Java
*.class
*.jar
*.war
*.ear

# Eclipse / Studio
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.classpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
.project

# Mule Studio
target/
.mule/**
.mule/**/*
.DS_Store
velocity.log
